/data
/_freeze
/.quarto
/old
/abntexQuarto_files
/.vscode
/.quarto/
**/*.quarto_ipynb
.Rproj.user
2025_Mestrado_no_git.Rproj
abntexQuarto.tex
abntexQuarto copy.tex
abntex2abrev.sty
abntex2cite.sty
abntexQuarto.docx
